* {
  margin: 3px;
  padding: 8px;
  font-family: "Libre Caslon Text", serif;
  /* width: 250%; */
}

html {
  background: #ffffffbd;
  margin: 80px;
  font-size: 18px;
  padding: 2px;
  /* width: 100%; */
}

h1 {
  font-size: 90px;
  font-family: "Russo One", sans-serif;
  padding-bottom: 0;
  margin-bottom: 0;
}

.container {
  width: 70%;
  background: #dfdfdf;
  display: flex;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.45),
    5px 5px 5px 0px rgba(0, 0, 0, 0.45), -5px -5px 5px 0px rgba(0, 0, 0, 0.45),
    -5px -5px 5px 0px rgba(0, 0, 0, 0.45);
  /* background: rgba(245, 187, 13, 0.856); */
  /* flex-wrap: nowrap; */
  /* flex-direction:row; */
}

p {
  padding: 8px;
  align-items: center;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  padding: 3px;
}

ol {
  padding: 0;
}

h4 {
  color: #281e32;
  text-transform: uppercase;
  text-decoration: underline;
}

#left-side {
  width: 70%;
  padding-left: 20px;
  padding-right: 0;
}

div.name {
  /* font-size: 70px; */
  font-family: "Russo One", sans-serif;
  background: #848469;
  width: fit-content;
  float: right;
  text-align: right;
}

div.education {
  padding: 3px;
}

.education p {
  font-size: 18px;
}

#right-side {
  /* padding-right: 20px; */
  width: 30%;
  background: #848469;
  /* background: #14f3ffd5; */
}

.my-profile img {
  /* width: 100%; */
  height: 240px;
  width: 220px;
  border-radius: 50%;
  display: block;
  margin: 1px auto;
  box-shadow: #000;
}

div.additional {
  padding-left: 10px;
}

#right-side p {
  display: flex;
}

a {
  background-color: #848469;
  border-radius: 5px;
  border: 2px solid rgb(0, 0, 0);
}

a:hover {
  background: #fff;
}

.mapouter {
  position: relative;
  text-align: right;
  width: 100%;
  height: 250px;
  margin: 0;
  padding: 0;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 250px;
  margin: 0;
  padding: 0;
}

.gmap_iframe {
  height: 250px !important;
}
